div.CmSearchWrap{border-radius:4px; width:245px; padding:0px 0px 0px 0px; margin:2px 8px; border: 1px solid #808080; position:relative; -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
input.CmSearchAddField{width:100%; margin:0px; padding:0px 10px; text-align:center; min-height:unset !important; box-shadow:inset 1px 0px 4px 0px #c0c0c0; border-radius:4px; line-height:32px !important; height:32px !important; color:#000000; font-size:14px; font-weight:bold;  border:0px; }
input.CmSearchAddField::placeholder {color:#c1c1c1; font-weight:normal; font-style:Italic;}
input.CmSearchAddField:focus{outline:none; }
input.CmSearchAddField:disabled{color:#797979; background:#eaeaea!important;}
.CmSearchClear{position:relative; clear:both;}
#CmSearchResult{z-index:97; display:none; position:absolute; background:#ffffff; top:0px; border:0px; box-shadow:10px 10px 21px rgba(0,0,0,0.4);}
#CmSearchResult table{font-size:12px !important;}
div.CmLoadAnim{display:none; position:absolute; margin:auto; top:0; bottom:0; left:0; right:0; background-color:rgba(231,231,231,0.6);}
div.CmLoadAnim img{width:90px; position:absolute; margin:auto; top:0; bottom:0; left:0; right:0;}
div.CmSearchGo{line-height:8px !important;cursor:pointer; position:absolute; top:0px !important; right:0px !important; fill:#808080; transition:all 0.3s; padding:7px !important;  transform:translateX(10px); opacity: 0;}
div.CmSearchWrap:hover div.CmSearchGo{ transform:translateX(0px); opacity: 0.7;}

/* Main */
.CmSearchPositionMain{}
.CmSearchResMain{left:0px!important;}

/* Left */
.CmSearchPositionLeft{float:left;}
.CmSearchResLeft{left:0px!important;}

/* Right */
.CmSearchPositionRight{float:right!important;}
.CmSearchResRight{right:0px!important;}

/* LOADING */
.CmSearchLoading{top:10px; left:35%; display:none; position:absolute;}
.CmLoadSBl{background-color:#808080;}
.CmSearchLoading div{position:absolute; width:11px; height:11px; border-radius:50%; animation-timing-function:cubic-bezier(0, 1, 1, 0);}
.CmSearchLoading div:nth-child(1){left:6px; animation: CmMSelectLoading1 0.6s infinite;}
.CmSearchLoading div:nth-child(2){left:6px; animation: CmMSelectLoading2 0.6s infinite;}
.CmSearchLoading div:nth-child(3){left:26px; animation: CmMSelectLoading2 0.6s infinite;}
.CmSearchLoading div:nth-child(4){left:45px; animation:CmMSelectLoading3 0.6s infinite;}
@keyframes CmMSelectLoading1{
	0%{transform:scale(0);}
	100%{transform:scale(1);}
}
@keyframes CmMSelectLoading3 {
	0%{transform:scale(1);}
	100%{transform:scale(0);}
}
@keyframes CmMSelectLoading2 {
	0%{transform:translate(0,0);}
	100%{transform:translate(19px,0);}
}


/* Adaptivity */
@media screen and (max-width: 710px){

}
