<form action="{{ action }}" method="get">
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" id="payment" onclick="window.location='{{ action }}';return false;" value="{{ button_confirm }}" class="btn btn-primary button" />
    </div>
  </div>
</form>

