<div id="shopify-section-1573726840862" class="shopify-section">
    <div class="halo-section banner-block-1 padding-top-80 padding-bottom-30 halo-section-background-gray  "
         data-section-id="1573726840862" data-section-type="banner block 1">
        <div class="container">
            <div class="section-header text-center">
                <h2>Featured Categories</h2>
                <a class="text-link" href="index.html#" aria-label="link">
                    view all
                </a>
            </div>
            <div class="halo-row halo-row-custom column-3">
                <div class="halo-item">
                    <div class="card-text-overlay layout-1 card-text-overlay--light">
                        <div class="image">
                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-1.jpg?v=1613774406"
                                 alt="" data-image>
                        </div>
                        <div class="content">
                            <a class="title" href="index.html#" aria-label="link">
                                Headlights
                            </a>
                            <p class="description">
                                Pellentesque Cosmo Dinciduntos
                                <svg class="icon">
                                    <use xlink:href="#icon-chevron-right"/>
                                </svg>
                            </p>
                        </div>
                        <a class="link" href="index.html#" aria-label="link"></a>
                    </div>
                </div>
                <div class="halo-item">
                    <div class="card-text-overlay layout-1 card-text-overlay--light">
                        <div class="image">

                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-2.jpg?v=1613774407"
                                 alt="" data-image>

                        </div>
                        <div class="content">


                            <a class="title" href="index.html#" aria-label="link">

                                Brakes

                            </a>


                            <p class="description">
                                Pellentesque Cosmo Dinciduntos
                                <svg class="icon">
                                    <use xlink:href="#icon-chevron-right"/>
                                </svg>
                            </p>

                        </div>

                        <a class="link" href="index.html#" aria-label="link"></a>

                    </div>
                </div>

                <div class="halo-item">
                    <div class="card-text-overlay layout-1 card-text-overlay--light">
                        <div class="image">

                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-3.jpg?v=1613774407"
                                 alt="" data-image>

                        </div>
                        <div class="content">


                            <a class="title" href="index.html#" aria-label="link">

                                Seat Covers

                            </a>


                            <p class="description">
                                Pellentesque Cosmo Dinciduntos
                                <svg class="icon">
                                    <use xlink:href="#icon-chevron-right"/>
                                </svg>
                            </p>

                        </div>

                        <a class="link" href="index.html#" aria-label="link"></a>

                    </div>
                </div>

                <div class="halo-item">
                    <div class="card-text-overlay layout-1 card-text-overlay--light">
                        <div class="image">

                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-4.jpg?v=1613774407"
                                 alt="" data-image>

                        </div>
                        <div class="content">


                            <a class="title" href="index.html#" aria-label="link">

                                Body Kits

                            </a>


                            <p class="description">
                                Pellentesque Cosmo Dinciduntos
                                <svg class="icon">
                                    <use xlink:href="#icon-chevron-right"/>
                                </svg>
                            </p>

                        </div>

                        <a class="link" href="index.html#" aria-label="link"></a>

                    </div>
                </div>

                <div class="halo-item">
                    <div class="card-text-overlay layout-1 card-text-overlay--light">
                        <div class="image">

                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-5.jpg?v=1613774407"
                                 alt="" data-image>

                        </div>
                        <div class="content">


                            <a class="title" href="index.html#" aria-label="link">

                                Wheels+Rims

                            </a>


                            <p class="description">
                                Pellentesque Cosmo Dinciduntos
                                <svg class="icon">
                                    <use xlink:href="#icon-chevron-right"/>
                                </svg>
                            </p>

                        </div>

                        <a class="link" href="index.html#" aria-label="link"></a>

                    </div>
                </div>

                <div class="halo-item">
                    <div class="card-text-overlay layout-1 card-text-overlay--light">
                        <div class="image">

                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-6.jpg?v=1613774407"
                                 alt="" data-image>

                        </div>
                        <div class="content">


                            <a class="title" href="index.html#" aria-label="link">

                                Tail Lights

                            </a>


                            <p class="description">
                                Pellentesque Cosmo Dinciduntos
                                <svg class="icon">
                                    <use xlink:href="#icon-chevron-right"/>
                                </svg>
                            </p>

                        </div>

                        <a class="link" href="index.html#" aria-label="link"></a>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>