<div id="shopify-section-1573815962218" class="shopify-section">


    <div class="halo-section banner-block-2 padding-top-10 padding-bottom-30 halo-section-background-gray  "
         data-section-id="1573815962218" data-section-type="banner block 2">
        <div class="container">


            <div class="halo-column column-2">

                <div class="halo-item">
                    <div class="card-text-overlay layout-2 card-text-overlay--dark">
                        <div class="image">

                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-7.jpg?v=1613774570"
                                 alt="" data-image>

                        </div>
                        <div class="content">


                            <a class="title" href="index.html#" aria-label="title">

                                Shop Liberty Walk Body Kit

                            </a>


                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>

                        </div>

                        <a class="link" href="index.html#" aria-label="link"></a>

                    </div>
                </div>

                <div class="halo-item">
                    <div class="card-text-overlay layout-2 card-text-overlay--dark">
                        <div class="image">

                            <img class="lazyload"
                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-8.jpg?v=1613774570"
                                 alt="" data-image>

                        </div>
                        <div class="content">


                            <a class="title" href="index.html#" aria-label="title">

                                Shop Off-Road Bumpers

                            </a>


                            <p class="description">Dinterdum pretium, Mauris, Condimentus</p>

                        </div>

                        <a class="link" href="index.html#" aria-label="link"></a>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>