<div id="shopify-section-1574129609745" class="shopify-section">
    <div class="halo-section brand-carousel padding-top-50 padding-bottom-40  halo-section-border-top "
         data-section-id="1574129609745" data-section-type="logolist">
        <div class="container">
            <div class="section-header                 text-center">
                <h2>We Carry Top Brands</h2>
                <a class="text-link" href="index.html" aria-label="link">
                    view all
                </a>


            </div>


            <div class="logoList column-6" data-slick='{
                    "rows": 0,
                    "dots": false,
                    "arrows": true,
                    "infinite": false,
                    "adaptiveHeight": true,
                    "slidesToShow": 6,
                    "slidesToScroll": 1,
                    "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>",
                    "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
                }'>

                <div class="logo-item">

                    <a href="index.html#" class="logo-link" aria-label="link">

                            <span class="logo-image border-image">

                                    <img class="lazyload"
                                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/brands-1_170x.png?v=1613776341"
                                         alt="" data-image>

                            </span>

                    </a>


                </div>

                <div class="logo-item">

                    <a href="index.html#" class="logo-link" aria-label="link">

                            <span class="logo-image border-image">

                                    <img class="lazyload"
                                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/brands-2_170x.png?v=1613776341"
                                         alt="" data-image>

                            </span>

                    </a>


                </div>

                <div class="logo-item">

                    <a href="index.html#" class="logo-link" aria-label="link">

                            <span class="logo-image border-image">

                                    <img class="lazyload"
                                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/brands-3_170x.png?v=1613776341"
                                         alt="" data-image>

                            </span>

                    </a>


                </div>

                <div class="logo-item">

                    <a href="index.html#" class="logo-link" aria-label="link">

                            <span class="logo-image border-image">

                                    <img class="lazyload"
                                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/brands-4_170x.png?v=1613776341"
                                         alt="" data-image>

                            </span>

                    </a>


                </div>

                <div class="logo-item">

                    <a href="index.html#" class="logo-link" aria-label="link">

                            <span class="logo-image border-image">

                                    <img class="lazyload"
                                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/brands-5_170x.png?v=1613776341"
                                         alt="" data-image>

                            </span>

                    </a>


                </div>

                <div class="logo-item">

                    <a href="index.html#" class="logo-link" aria-label="link">

                            <span class="logo-image border-image">

                                    <img class="lazyload"
                                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/brands-6_170x.png?v=1613776341"
                                         alt="" data-image>

                            </span>

                    </a>


                </div>

                <div class="logo-item">

                    <a href="index.html#" class="logo-link" aria-label="link">

                            <span class="logo-image border-image">

                                    <img class="lazyload"
                                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/brands-14_170x.png?v=1613776341"
                                         alt="" data-image>

                            </span>

                    </a>


                </div>

            </div>


        </div>
    </div>


</div>