<div class="breadcrumb-wrapper">
    <ul class="breadcrumb">
        <li class="item">
            <a href="../index.html" aria-label="link">Home</a>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 478.448 478.448"><g><g><polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

        </li>
        <li class="item is-active">

            <a href="interior.html" title="Interior" aria-label="link">Interior</a>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 478.448 478.448"><g><g><polygon points="131.659,0 100.494,32.035 313.804,239.232 100.494,446.373 131.65,478.448 377.954,239.232"></polygon></g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>

        </li>
    </ul>
    <h1 class="page-heading">
        Interior
    </h1>

    <div class="collection-description">
        <p>Category Description: Lorem ipsum dolor sit amet consectetur adipiscing elit. Nam convallis imperdiet leo faucibus pulvinar justo tempus. Nulla in quam sit amet eratos pretium egestas de vitae tellus. Aenean pulvinar faucibus neque sit amet cosmopolis. Nunc tristique lorem bibendum tincidunt fermentum metus de vehicula velit ornare fermentum.</p>
        <div data-gallery-images2="">
            <ul class="categoryImage-carousel slick-initialized slick-slider slick-dotted" data-slick="{
    &quot;dots&quot;: true,
    &quot;arrows&quot;: false,
    &quot;autoplay&quot;: false,
    &quot;slidesToShow&quot;: 2,
    &quot;slidesToScroll&quot;: 2,
    &quot;adaptiveHeight&quot;: true,
    &quot;mobileFirst&quot;: true,
    &quot;infinite&quot;: false,
    &quot;responsive&quot;: [
        {
            &quot;breakpoint&quot;: 991,
            &quot;settings&quot;: {
                &quot;slidesToShow&quot;: 5,
                &quot;slidesToScroll&quot;: 5,
                &quot;rows&quot;: 1,
                &quot;dots&quot;: true,
                &quot;arrows&quot;: true
            }
        },
        {
            &quot;breakpoint&quot;: 767,
            &quot;settings&quot;: {
                &quot;slidesToShow&quot;: 4,
                &quot;slidesToScroll&quot;: 4
            }
        },
        {
            &quot;breakpoint&quot;: 551,
            &quot;settings&quot;: {
                &quot;slidesToShow&quot;: 3,
                &quot;slidesToScroll&quot;: 3
            }
        }
    ]}"><button class="slick-prev slick-arrow slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: block;">Previous</button><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 1452px; transform: translate3d(0px, 0px, 0px);"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 242px;" role="tabpanel" id="slick-slide20" aria-describedby="slick-slide-control20"><div><li class="item" style="width: 100%; display: inline-block;"><a class="img-wrap fancybox" href="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/gallery-2.jpg" data-fancybox="gallery" tabindex="0" aria-describedby="a11y-external-message"> <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/category-carousel-1.jpg" alt="" data-image=""> </a></li></div></div><div class="slick-slide slick-active" data-slick-index="1" aria-hidden="false" style="width: 242px;" role="tabpanel" id="slick-slide21"><div><li class="item" style="width: 100%; display: inline-block;"><a class="img-wrap fancybox" href="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/gallery-9.jpg" data-fancybox="gallery" tabindex="0" aria-describedby="a11y-external-message"> <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/category-carousel-2.jpg" alt="" data-image=""> </a></li></div></div><div class="slick-slide slick-active" data-slick-index="2" aria-hidden="false" style="width: 242px;" role="tabpanel" id="slick-slide22"><div><li class="item" style="width: 100%; display: inline-block;"><a class="img-wrap fancybox" href="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/gallery-3.jpg" data-fancybox="gallery" tabindex="0" aria-describedby="a11y-external-message"> <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/category-carousel-3.jpg" alt="" data-image=""> </a></li></div></div><div class="slick-slide slick-active" data-slick-index="3" aria-hidden="false" style="width: 242px;" role="tabpanel" id="slick-slide23"><div><li class="item" style="width: 100%; display: inline-block;"><a class="img-wrap fancybox" href="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/gallery-7.jpg" data-fancybox="gallery" tabindex="0" aria-describedby="a11y-external-message"> <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/category-carousel-4.jpg" alt=""> </a></li></div></div><div class="slick-slide slick-active" data-slick-index="4" aria-hidden="false" style="width: 242px;" role="tabpanel" id="slick-slide24"><div><li class="item" style="width: 100%; display: inline-block;"><a class="img-wrap fancybox" href="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/gallery-10.jpg" data-fancybox="gallery" tabindex="0" aria-describedby="a11y-external-message"> <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/category-carousel-5.jpg" alt="" data-image=""> </a></li></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 242px;" tabindex="-1" role="tabpanel" id="slick-slide25" aria-describedby="slick-slide-control21"><div><li class="item" style="width: 100%; display: inline-block;"><a class="img-wrap fancybox" href="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/gallery-10.jpg" data-fancybox="gallery" tabindex="-1" aria-describedby="a11y-external-message"> <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/category-carousel-1.jpg" alt="" data-image=""> </a></li></div></div></div></div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;" aria-disabled="false">Next</button><ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control20" aria-controls="slick-slide20" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li><li role="presentation"><button type="button" role="tab" id="slick-slide-control21" aria-controls="slick-slide25" aria-label="2 of 2" tabindex="-1">2</button></li></ul></ul>
        </div>
    </div>

</div>