<div id="shopify-section-1574250363494" class="shopify-section">


    <div class="halo-section  padding-bottom-30 halo-section-background-gray  " data-section-id="1574250363494"
         data-section-type="customBlockCarousel">
        <div class="container">


            <div class="customBlock_Carousel column-4" data-slick='{
                    "dots": true,
                    "arrows": false,
                    "infinite": false,
                    "adaptiveHeight": true,
                    "slidesToShow": 4,
                    "slidesToScroll": 4,
                    "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>",
                    "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
                }'>

                <div class="customBlock_item">

                    <a href="index.html#" class="custom-image" aria-label="link">


                        <img class="lazyload"
                             src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                             data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-marketing-in-1_110x.jpg?v=1613780366"
                             alt="" data-image>


                    </a>

                    <div class="custom-content">

                        <a href="index.html#" class="title" aria-label="link">

                            Floor Mats

                        </a>


                        <p class="description">Dinciduntos pretium, Mauris, Condimentus</p>

                    </div>
                </div>

                <div class="customBlock_item">

                    <a href="index.html#" class="custom-image" aria-label="link">


                        <img class="lazyload"
                             src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                             data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-marketing-in-2_110x.jpg?v=1613780366"
                             alt="" data-image>


                    </a>

                    <div class="custom-content">

                        <a href="index.html#" class="title" aria-label="link">

                            Steering Wheels

                        </a>


                        <p class="description">Dinciduntos pretium, Mauris, Condimentus</p>

                    </div>
                </div>

                <div class="customBlock_item">

                    <a href="index.html#" class="custom-image" aria-label="link">


                        <img class="lazyload"
                             src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                             data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-marketing-in-3_110x.jpg?v=1613780366"
                             alt="" data-image>


                    </a>

                    <div class="custom-content">

                        <a href="index.html#" class="title" aria-label="link">

                            Dash Cover

                        </a>


                        <p class="description">Dinciduntos pretium, Mauris, Condimentus</p>

                    </div>
                </div>

                <div class="customBlock_item">

                    <a href="index.html#" class="custom-image" aria-label="link">


                        <img class="lazyload"
                             src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                             data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-marketing-in-4_110x.jpg?v=1613780366"
                             alt="" data-image>


                    </a>

                    <div class="custom-content">

                        <a href="index.html#" class="title" aria-label="link">

                            Seat Covers

                        </a>


                        <p class="description">Dinciduntos pretium, Mauris, Condimentus</p>

                    </div>
                </div>

                <div class="customBlock_item">

                    <a href="index.html#" class="custom-image" aria-label="link">


                        <img class="lazyload"
                             src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                             data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-marketing-re-1_110x.jpg?v=1613780493"
                             alt="" data-image>


                    </a>

                    <div class="custom-content">

                        <a href="index.html#" class="title" aria-label="link">

                            Pretium hall

                        </a>


                        <p class="description">Dinciduntos pretium, Mauris, Condimentus</p>

                    </div>
                </div>

            </div>


        </div>
    </div>


</div>