<div id="shopify-section-1574052817201" class="shopify-section">

    <div class="halo-section hero-custom-block-margin" data-section-id="1574052817201"
         data-section-type="hero-section">

        <div class="container-fluid">

            <div class="hero hero--large hero-overlay--dark">
                <div class="hero-image-wrapper">
                    <div class="hero-image ">
                        <img
                                class="image-background lazyload"
                                src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-fullwidth.jpg?v=1613776214"
                                alt="" data-image>

                    </div>
                </div>
                <div class="hero-content hero-content--middle hero-custom-block-padding"><h2
                            class="title mega-title--medium">
                        Praesent Durna Tellus Laoreet An Tellus Fermentum Facilisis Deratos
                    </h2>
                    <div class="description"><p>Nullam aliquet vestibulum augue non varius. Cras nec congue elit
                            duis tristique vel ante nec aliquam. Praesent urna tellus laoreet eu tellus ullamcorper
                            lorem, fermentum facilisis erat. Suspendisse tellus erat, saliquam loremous a posuere
                            tincidunt melit. Aliquam eget lacus nec metus lobortis gravida sedos...</p></div>
                    <div class="button-group"><a href="javascript:void(0)" data-toggle="modal"
                                                 data-target="#popup_video_1574052817201"
                                                 class="btn btn--secondary btn-popup-video"
                                                 data-src="https://www.youtube.com/embed/_9VUPq3SxOc?autoplay=1&mute=1"
                                                 data-id="1574052817201" aria-label="link">
                            watch video
                        </a><a href="index.html#" class="btn btn--secondary" aria-label="link">
                            view product
                        </a></div>
                </div>

                <div class="hero-custom-block">
                    <div class="container">

                        <div class="section-header text-center">
                            <h2>Featured Brands</h2>

                            <a class="text-link" href="index.html#" aria-label="link">
                                view all
                            </a>

                        </div>

                        <div class="halo-row column-3" data-slick='{
        "rows": 0,
        "dots": true,
        "arrows": false,
        "infinite": false,
        "adaptiveHeight": true,
        "slidesToShow": 3,
        "slidesToScroll": 3
    }'>

                            <div class="halo-item">
                                <div class="card-text-overlay layout-1 custom card-text-overlay--dark">
                                    <div class="image">

                                        <a class="img" href="index.html#" aria-label="link">


                                            <img class="lazyload"
                                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-13.jpg?v=1613776231"
                                                 alt="" data-image>


                                        </a>

                                    </div>
                                    <div class="content">


                                        <a class="title" href="index.html#" aria-label="link">

                                            Niche速 Wheels

                                        </a>


                                        <p class="description">
                                            Pellentesque Cosmo Dinciduntos
                                            <svg class="icon">
                                                <use xlink:href="#icon-chevron-right"/>
                                            </svg>
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="halo-item">
                                <div class="card-text-overlay layout-1 custom card-text-overlay--dark">
                                    <div class="image">

                                        <a class="img" href="index.html#" aria-label="link">


                                            <img class="lazyload"
                                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-14.jpg?v=1613776231"
                                                 alt="" data-image>


                                        </a>

                                    </div>
                                    <div class="content">


                                        <a class="title" href="index.html#" aria-label="link">

                                            BBS速 Wheels

                                        </a>


                                        <p class="description">
                                            Pellentesque Cosmo Dinciduntos
                                            <svg class="icon">
                                                <use xlink:href="#icon-chevron-right"/>
                                            </svg>
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="halo-item">
                                <div class="card-text-overlay layout-1 custom card-text-overlay--dark">
                                    <div class="image">

                                        <a class="img" href="index.html#" aria-label="link">


                                            <img class="lazyload"
                                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-15.jpg?v=1613776231"
                                                 alt="" data-image>


                                        </a>

                                    </div>
                                    <div class="content">


                                        <a class="title" href="index.html#" aria-label="link">

                                            Vorsteiner速 Wheels

                                        </a>


                                        <p class="description">
                                            Pellentesque Cosmo Dinciduntos
                                            <svg class="icon">
                                                <use xlink:href="#icon-chevron-right"/>
                                            </svg>
                                        </p>

                                    </div>
                                </div>
                            </div>

                            <div class="halo-item">
                                <div class="card-text-overlay layout-1 custom card-text-overlay--dark">
                                    <div class="image">

                                        <a class="img" href="index.html#" aria-label="link">


                                            <img class="lazyload"
                                                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                                                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/banner-16.jpg?v=1613776247"
                                                 alt="" data-image>


                                        </a>

                                    </div>
                                    <div class="content">


                                        <a class="title" href="index.html#" aria-label="link">

                                            AKFQ速 WHEELS

                                        </a>


                                        <p class="description">
                                            Pellentesque Cosmo Dinciduntos
                                            <svg class="icon">
                                                <use xlink:href="#icon-chevron-right"/>
                                            </svg>
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="popup_video_1574052817201" class="modal fade halo_modal halo_modal_video" role="dialog"
         tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-video">
        </div>
    </div>


</div>