<div class="footbar-fixed">
  <div class="footbar-fixed-left">
    <div class="product-notification product-notification-mb" data-time="8000">
      <a href="javascript:void(0)" title="Close" class="close close-notifi">&#215;</a>
      <div class="product-suggest">
        <a class="product-image" href="/">
          <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
               alt="">
        </a>
        <div class="column-right">
          <p class="text">Someone recently bought a</p>
          <a class="product-name" href="index.html"></a>
          <div class="info-ago">
            <span class="time-text"></span>
          </div>
        </div>
      </div>
      <div class="hide">
        <div class="data-product" data-id="someone_recently_1"
             data-image="//cdn.shopify.com/s/files/1/0278/4434/5931/products/interior-2b_compact.jpg?v=1573642658"
             data-url="/products/lobortis-maxim-tesque-lobortis-acuinon-efficitur-dapinica"
             data-title="Lobortis maxim tesque lobortis acuinon efficitur dapinica"
             data-alt="Lobortis maxim tesque lobortis acuinon efficitur dapinica"
             data-local="20 minutes ago from Blackburn, UK"></div>
        <div class="data-product" data-id="someone_recently_2"
             data-image="//cdn.shopify.com/s/files/1/0278/4434/5931/products/light-16_67657be0-83f2-45b9-909c-6ff34e406eb2_compact.jpg?v=1573642565"
             data-url="/products/orci-malestus-sonec-laoreet-tortor-malesuada-libero"
             data-title="Orci malestus sonec laoreet tortor malesuada libero"
             data-alt="Orci malestus sonec laoreet tortor malesuada libero"
             data-local="40 minutes ago, from Blue Mountains, Australia"></div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
  <div class="footbar-fixed-right">
    <div id="accept-cookies" class="cookieMessage cookieMessage-mb hide">
      <div class="des">
        <span>We use cookies to improve your experience on our website. Read about how we use cookies in our Privacy Policy. By browsing this website, you agree to our use of cookies.</span>
        <span>
                <a target="_blank" href="https://policies.google.com" aria-label="link"
                   class="notification-cookies privacy-link">
                    privacy policy
                </a>
        </span>
      </div>
      <a href="/" class="notification-cookies accept_cookies_link" aria-label="link" data-accept-cookie>
        accept
      </a>
    </div>
  </div>
</div>