<div class="halo_mobileNavigation" id="login-mobile">
  <div class="halo_mobileNavigation_wrapper">
  </div>
</div>

<div class="halo_mobileNavigation" id="cart-mobile">
  <div class="close_header">
    <h2 class="title">Your cart </h2>
    <a href="javascript:void(0)" class="close" data-close-cart-preview>&#215;</a>
  </div>
  <div class="halo_mobileNavigation_wrapper"></div>
</div>