<div class="modal fade halo_modal" id="ask_an_expert" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-ask-an-expert">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Have Questions?
                </h5>
                <a data-dismiss="modal" class="close close-modal" href="javascript:void(0)">&#215;</a>
            </div>
            <div class="modal-body">
                <div class="form-wrapper">
                    <div class="des">
                        Ask The Automotive Experts anything on Speedo-Demo. We will follow up with you via email within
                        24-48 hours.
                    </div>
                    <h5 class="title">
                        Please answer the following questionnaire
                    </h5>
                    <div class="form-inner">
                        <form method="post" action="https://spark-theme-automotive.myshopify.com/contact#contact_form"
                              id="contact_form" accept-charset="UTF-8" class="contact-form"><input type="hidden"
                                                                                                   name="form_type"
                                                                                                   value="contact"/><input
                                    type="hidden" name="utf8" value="✓"/>
                            <div class="form-content">
                                <input type="hidden" name="contact[Product Title]" value=""/>
                                <input type="hidden" name="contact[Product Link]"
                                       value="https://spark-theme-automotive.myshopify.com"/>
                                <div class="form-group">
                                    <input type="text" required id="contactFormName" name="contact[Name]"
                                           autocapitalize="words" placeholder="Name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="contact[email]" required id="contactFormEmail"
                                           placeholder="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="tel" required name="contact[Phone Number]" pattern="[0-9]*"
                                           placeholder="Phone Number" class="form-control">
                                </div>
                                <div class="form-group custom-radio">
                                    <label class="form-label">
                                        Do You Need
                                    </label>
                                    <input checked id="do-you-need-1" type="radio" name="contact[Do You Need]"
                                           value="Pricing"/>
                                    <label for="do-you-need-1">
                                        Pricing
                                    </label>
                                    <input id="do-you-need-2" type="radio" name="contact[Do You Need]" value="Answers"/>
                                    <label for="do-you-need-2">
                                        Answers
                                    </label>
                                    <input id="do-you-need-3" type="radio" name="contact[Do You Need]" value="Both"/>
                                    <label for="do-you-need-3">
                                        Both
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="contactFormMessage" class="form-label">
                                        What can i help you with today ?
                                    </label>
                                    <textarea rows="6" name="contact[Message]" id="contactFormMessage"
                                              class="form-control"></textarea>
                                </div>
                                <div class="form-group custom-radio last">
                                    <label class="form-label">
                                        How would you like me to contact you?
                                    </label>
                                    <input checked id="contact-with-you-1" type="radio"
                                           name="contact[How would you like me to contact you?]" value="Phone"/>
                                    <label for="contact-with-you-1">
                                        Phone
                                    </label>
                                    <input id="contact-with-you-2" type="radio"
                                           name="contact[How would you like me to contact you?]" value="Email"/>
                                    <label for="contact-with-you-2">
                                        Email
                                    </label>
                                    <input id="contact-with-you-3" type="radio"
                                           name="contact[How would you like me to contact you?]" value="Both"/>
                                    <label for="contact-with-you-3">
                                        Both
                                    </label>
                                </div>
                                <div class="actions">
                                    <input type="submit" class="btn btn--primary" value="Submit Contact">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
