<div id="halo_newsletter">
    <div class="popup-overlay"></div>
    <div class="newsletterPopup" data-delay="8000" data-expire="1">
        <a href="/#" class="modal-close close" aria-label="close" data-close-newsletter-popup>&#215;</a>
        <div class="newsletter-content">
            <h2 class="newsletter-heading">
                News
            </h2>
            <p class="newsletter-sub-heading">News <strong>14 days</strong>, News <a
                        href="h" target="_blank">CLICK HERE</a></p>
            <div id="mailchimp-email-subscibe" class="newsletter">
                <div id="mc_embed_signup">
                    <form method="post" action="/"
                          id="contact_form_2" accept-charset="UTF-8" class="input-group"><input type="hidden"
                                                                                                name="form_type"
                                                                                                value="customer"/><input
                                type="hidden" name="utf8" value="✓"/>
                        <input type="hidden" name="contact[tags]" value="newsletter">
                        <input class="input-group-field form-control" type="email" name="contact[email]"
                               aria-label="Email Address" placeholder="Email address" required="required">
                        <input class="btn btn--primary" type="submit" value="Subscribe"></form>
                </div>
            </div>
            <p class="newsletter-message">
                We promise to only send you good things.
            </p>
            <div class="social-icons">
                <a class="social-icon facebook" href="https://facebook.com/" title="Facebook" target="_blank"
                   aria-label="link">
                    <svg class="icon">
                        <use xlink:href="#icon-facebook"/>
                    </svg>
                </a>
                <a class="social-icon twitter" href="https://twitter.com/" title="Twitter" target="_blank"
                   aria-label="link">
                    <svg class="icon">
                        <use xlink:href="#icon-twitter"/>
                    </svg>
                </a>
                <a class="social-icon instagram" href="http://instagram.com/" title="Instagram" target="_blank"
                   aria-label="link">
                    <svg class="icon">
                        <use xlink:href="#icon-instagram"/>
                    </svg>
                </a>
                <a class="social-icon pinterest" href="https://pinterest.com/" title="Pinterest" target="_blank"
                   aria-label="link">
                    <svg class="icon">
                        <use xlink:href="#icon-pinterest"/>
                    </svg>
                </a>
                <a class="social-icon vimeo" href="https://vimeo.com/" title="Vimeo" target="_blank"
                   aria-label="link">
                    <svg class="icon">
                        <use xlink:href="#icon-vimeo"/>
                    </svg>
                </a>
            </div>
            <div class="newsletter-show-again">
                <input id="dismiss" class="do-not-show-again" type="checkbox" name="dismiss">
                <label for="dismiss">
                    <span>Don't show again!</span>
                </label>
            </div>
        </div>
        <div class="newsletter-image">
            <img class="lazyload"
                 src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                 data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/offer_banner_420x380.jpg?v=1657276131"
                 data-sizes="auto" alt="" data-image>
        </div>
    </div>
</div>