<div id="shopify-section-1573645506188" class="shopify-section">
    <style>
        [data-section-id='1573645506188'] .slide-heading {
            color: #ffffff
        }

        [data-section-id='1573645506188'] .slide-text {
            color: #ffffff
        }

        [data-section-id='1573645506188'] .slide-button {
            color: ;
            border-color: ;
            background-color: ;
        }

        [data-section-id='1573645506188'] .slide-button:hover {
            color: ;
            border-color: ;
            background-color: ;
        }

        [data-section-id='1573645506188'] .slick-arrow {
            border-color: !important;
        }

        [data-section-id='1573645506188'] .slick-arrow svg {
            fill: !important;
        }

        [data-section-id='1573645506188'] .slick-dots li button {
            border-color: ;
            background-color: ;
        }

        [data-section-id='1573645506188'] .slick-dots li.slick-active button {
            background-color: transparent;
            border-color: ;
        }

    </style>


    <div class="halo-slideshow" data-section-id="1573645506188" data-section-type="slideshow-section">
        <div class="slideshow slideshow--large overlay--none"

             data-slick='{
                "rows": 0,
                "dots": true,
                "arrows": false,
                "fade": false,
                "autoplay": true,
                "autoplaySpeed": 5000,
                "infinite": true,
                "adaptiveHeight": true,
                "slidesToScroll": 1,
                "mobileFirst": true,
                "prevArrow": "<div class=&apos;slick-prev slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>",
                "nextArrow": "<div class=&apos;slick-next slick-arrow&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>",
                "responsive": [
                    {
                        "breakpoint": 1100,
                        "settings": {
                            "dots": true,
                            "arrows": true
                        }
                    }
                ]
            }'
        >

            <div class="item">

                <div class="slide-image">


                    <img class="image-background"
                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/files/slider-1.jpg?v=1613784486"
                         data-sizes="auto" alt="">
                    <a href="/#"></a>
                </div>
                <div class="slide-content content--left">
                    <h2 class="slide-heading animated mega-title--medium">
                        Interior Accessories
                    </h2>
                    <p class="slide-text animated">
                        Curabitur sodales lorem quis adipiscing euismod, midos lacus eleifend nulla porttitor
                        semper urna loremous.
                    </p>
                    <a href="/#" class="slide-button btn btn--primary animated" aria-label="link">
                        Shop now
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="slide-image">
                    <img class="image-background lazyload"
                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/slider-2.jpg?v=1613784486"
                         data-sizes="auto" alt="" data-image>
                    <a href="/#"></a>
                </div>
                <div class="slide-content content--left">
                    <h2 class="slide-heading animated mega-title--medium">
                        Exterior Accessories
                    </h2>
                    <p class="slide-text animated">
                        Curabitur sodales lorem quis adipiscing euismod, midos lacus eleifend nulla porttitor
                        semper urna loremous.
                    </p>
                    <a href="/#" class="slide-button btn btn--primary animated" aria-label="link">
                        Shop now
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="slide-image">
                    <img class="image-background lazyload"
                         src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                         data-src="//cdn.shopify.com/s/files/1/0278/4434/5931/files/slider-3.jpg?v=1613784486"
                         data-sizes="auto" alt="" data-image>


                    <a href="/#"></a>
                </div>


                <div class="slide-content content--left">

                    <h2 class="slide-heading animated mega-title--medium">
                        Performance Parts
                    </h2>


                    <p class="slide-text animated">
                        Curabitur sodales lorem quis adipiscing euismod, midos lacus eleifend nulla porttitor
                        semper urna loremous.
                    </p>


                    <a href="/#" class="slide-button btn btn--primary animated" aria-label="link">
                        Shop Now
                    </a>

                </div>

            </div>

        </div>
    </div>
    <div class="home-category-filter-sections position-1">
        <div class="themevale_MultiCategory_wrapper">
            <div class="themevale_MultiCategory">
                <nav id="navPages" style="display: none;">
                    <ul>

                        <li>
                            <a href="collections/interior.html" title=" Interior">
                                Interior
                            </a>


                            <ul>

                                <li>
                                    <a href="collections/nor-loremirus.html" data-value="nor-loremirus">
                                        Nor Loremirus
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/gravidas.html" data-value="gravidas">
                                                Gravidas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremous.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/comodianos.html" data-value="comodianos">
                                                Comodianos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/montemous.html" data-value="montemous">
                                                Montemous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/dincidunteros.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/scelerisque-yurnas.html"
                                               data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/milancelos-cosmo.html" data-value="milancelos-cosmo">
                                        Milancelos Cosmo
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/bibendumetos.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/dincidunteros.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremous.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/accessorius.html" data-value="accessorius">
                                        Accéssorius
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/bibendumetos.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/consequatod.html" data-value="consequatod">
                                                Consequatod
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremouticas.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/scelerisque-yurnas.html"
                                               data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto-2.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/parturient-montes.html" data-value="parturient-montes">
                                        Parturient Montes
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/senectus.html" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremous.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/comodianos.html" data-value="comodianos">
                                                Comodianos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/dincidunteros.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto-1.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/accessorius.html" data-value="cosmopolis">
                                        Cosmopolis
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/loremous.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/gravidas.html" data-value="gravidas">
                                                Gravidas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/comodianos.html" data-value="comodianos">
                                                Comodianos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/dincidunteros.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/montemous.html" data-value="montemous">
                                                Montemous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/scelerisque-yurnas.html"
                                               data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/metropolis.html" data-value="metropolis">
                                        Metropolis
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/conguros.html" data-value="conguros">
                                                Conguros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremouticas.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/bibendumetos.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                            </ul>

                        </li>

                        <li>
                            <a href="collections/exterior.html" title=" Exterior">
                                Exterior
                            </a>


                            <ul>

                                <li>
                                    <a href="collections/nor-loremirus.html" data-value="nor-loremirus">
                                        Nor Loremirus
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/bibendumetos.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/senectus.html" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/consequatod.html" data-value="consequatod">
                                                Consequatod
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/scelerisque-yurnas.html"
                                               data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremouticas.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/milancelos-cosmo.html" data-value="milancelos-cosmo">
                                        Milancelos Cosmo
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/bibendumetos.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/dincidunteros.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremous.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections.html" data-value="accessorius">
                                        Accéssorius
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/dincidunteros.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremous.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/comodianos.html" data-value="comodianos">
                                                Comodianos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/gravidas.html" data-value="gravidas">
                                                Gravidas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/montemous.html" data-value="montemous">
                                                Montemous
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/maximus-dante.html" data-value="maximus-dante">
                                        Maximus Dante
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/dincidunteros.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremous.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/comodianos.html" data-value="comodianos">
                                                Comodianos
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/comodianos.html" data-value="cosmopolis">
                                        Cosmopolis
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/bibendumetos.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/senectus.html" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/consequatod.html" data-value="consequatod">
                                                Consequatod
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/scelerisque-yurnas.html"
                                               data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremouticas.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections/condimentum-purus.html" data-value="condimentum-purus">
                                        Condimentum Purus
                                    </a>


                                </li>

                                <li>
                                    <a href="collections/bibendumetos.html" data-value="nunc-consectetur">
                                        Nunc Consectetur
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/scelerisque-yurnas.html"
                                               data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremouticas.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                            </ul>

                        </li>

                        <li>
                            <a href="collections/performance.html" title=" Performance">
                                Performance
                            </a>


                            <ul>

                                <li>
                                    <a href="collections/nor-loremirus.html" data-value="nor-loremirus">
                                        Nor Loremirus
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/bibendumetos.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto-1.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/senectus.html" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/consequatod.html" data-value="consequatod">
                                                Consequatod
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/scelerisque-yurnas.html"
                                               data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremouticas.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections.html" data-value="accessorius">
                                        Accéssorius
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="comodianos">
                                                Comodianos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="gravidas">
                                                Gravidas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="montemous">
                                                Montemous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="index.html#" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections.html" data-value="cosmopolis">
                                        Cosmopolis
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="consequatod">
                                                Consequatod
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections.html" data-value="condimentum-purus">
                                        Condimentum Purus
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections.html" data-value="dincidunteros">
                                                Dincidunteros
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="loremous">
                                                Loremous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="comodianos">
                                                Comodianos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="gravidas">
                                                Gravidas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="montemous">
                                                Montemous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="index.html#" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections.html" data-value="milancelos-cosmo">
                                        Milancelos Cosmo
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections.html" data-value="bibendumetos">
                                                Bibendumetos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="senectus">
                                                Senectus
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="consequatod">
                                                Consequatod
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="scelerisque-yurnas">
                                                Scelerisque Yurnas
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="loremouticas">
                                                Loremouticas
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                            </ul>

                        </li>

                        <li>
                            <a href="collections/lighting.html" title=" Lighting">
                                Lighting
                            </a>


                            <ul>

                                <li>
                                    <a href="collections/body-parts.html" data-value="metroplitanos">
                                        Metroplitanos
                                    </a>


                                </li>

                                <li>
                                    <a href="collections/sustoproine.html" data-value="sustoproine">
                                        Sustoproine
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections/accessorius.html" data-value="nectellus">
                                                Nectellus
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/senectus-milance.html"
                                               data-value="senectus-milance">
                                                Senectus Milance
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/pellentes-habitanto-1.html"
                                               data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/loremous-comodous.html"
                                               data-value="loremous-comodous">
                                                Loremous Comodous
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections/scelerisque-dapboe-1.html"
                                               data-value="scelerisque-dapboe">
                                                Scelerisque Dapboe
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections.html" data-value="dounes-cosmopolis">
                                        Dounes Cosmopolis
                                    </a>


                                    <ul>

                                        <li>
                                            <a href="collections.html" data-value="scelerisque-dapboe">
                                                Scelerisque Dapboe
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="scelerisque-yurna">
                                                Scelerisque Yurna
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="pellentes-habitanto">
                                                Pellentes Habitanto
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="hendrer-dulamcos">
                                                Hendrer Dulamcos
                                            </a>
                                        </li>

                                        <li>
                                            <a href="collections.html" data-value="bibendumet-bitan">
                                                Bibendumet bitan
                                            </a>
                                        </li>

                                    </ul>

                                </li>

                                <li>
                                    <a href="collections.html" data-value="loremous">
                                        Loremous
                                    </a>


                                </li>

                                <li>
                                    <a href="collections.html" data-value="hendrer-dulamcos">
                                        Hendrer Dulamcos
                                    </a>


                                </li>

                                <li>
                                    <a href="collections.html" data-value="fermentumod">
                                        Fermentumod
                                    </a>


                                </li>

                                <li>
                                    <a href="collections.html" data-value="curabitur-lurpisolus">
                                        Curabitur Lurpisolus
                                    </a>


                                </li>

                                <li>
                                    <a href="collections.html" data-value="maecenas-conguros">
                                        Maecenas Conguros
                                    </a>


                                </li>

                            </ul>

                        </li>

                        <li>
                            <a href="collections/wheels-tires.html" title=" Wheels & Tires">
                                Wheels & Tires
                            </a>

                        </li>

                        <li>
                            <a href="collections/body-parts.html" title=" Body Parts">
                                Body Parts
                            </a>

                        </li>

                        <li class="active">
                            <a href="index.html" title=" Demo">
                                Demo
                            </a>


                            <ul>

                                <li>
                                    <a href="index.html@_ab=0&amp;_fd=0&amp;_sc=1&amp;preview_theme_id=80226779211.html"
                                       data-value="homepage-1">
                                        Homepage 1
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html@_ab=0&amp;_fd=0&amp;_sc=1&amp;preview_theme_id=80217210955.html"
                                       data-value="homepage-2">
                                        Homepage 2
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html@_ab=0&amp;_fd=0&amp;_sc=1&amp;preview_theme_id=80217243723.html"
                                       data-value="homepage-3">
                                        Homepage 3
                                    </a>
                                </li>
                                <li>
                                    <a href="products/aenean-commodo-lipsum-quis-blandit-exims-placerat.html"
                                       data-value="product-detail-1">
                                        Product detail 1
                                    </a>
                                </li>
                                <li>
                                    <a href="products/aenean-commodo-lipsum-quis-blandit-exims-placerat/index.html@_ab=0&amp;_fd=0&amp;_sc=1&amp;preview_theme_id=80217374795.html"
                                       data-value="product-detail-2">
                                        Product detail 2
                                    </a>
                                </li>
                                <li>
                                    <a href="products/aenean-commodo-lipsum-quis-blandit-exims-placerat/index.html@_ab=0&amp;_fd=0&amp;_sc=1&amp;preview_theme_id=80217407563.html"
                                       data-value="product-detail-3">
                                        Product detail 3
                                    </a>
                                </li>
                            </ul>
                        </li>
{#                        <li>#}
{#                            <a href="https://shopify.pxf.io/Jry3Ve" title=" Open a store for FREE">#}
{#                                Open a store for FREE#}
{#                            </a>#}
{#                        </li>#}
                    </ul>
                </nav>

                <div class="themevale_multilevel-category-filter">
                    <div class="form-label">
                        <label>Select Your Vehicle</label>
                    </div>


                    <div class="form-wrapper">
                        {{ cm_car_selector }}
{#                        <div class="form-field">#}
{#                            <label class="form-label">Select Level 1</label>#}
{#                            <span class="da-force-up form-select form-control">Select Level 1</span>#}
{#                            <div class="dropdown-up" id="themevale_select-level-1">#}
{#                                <ul>#}
{#                                    <li class="hide1" onclick="changeOptionAll(1)">Select Level 1</li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-field">#}
{#                            <label class="form-label">Select Level 2</label>#}
{#                            <span class="da-force-up form-select form-control">Select Level 2</span>#}
{#                            <div class="dropdown-up" id="themevale_select-level-2">#}
{#                                <ul>#}
{#                                    <li class="hide1" onclick="changeOptionAll(2)">Select Level 2</li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="form-field form-field-last">#}
{#                            <label class="form-label">Select Level 3</label>#}
{#                            <span class="da-force-up form-select form-control">Select Level 3</span>#}
{#                            <div class="dropdown-up" id="themevale_select-level-3">#}
{#                                <ul>#}
{#                                    <li class="hide1" onclick="changeOptionAll(3)">Select Level 3</li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="group-button">
                            <a class="btn btn--primary"  id="cm_select_search">Search</a>
                            <a class="btn btn--primary"  id="cm_clear_select">
                                <svg class="icon">
                                    <use xlink:href="#icon-refresh"/>
                                </svg>
                                <span class="text">reset</span>
                            </a>
                        </div>
                    </div>
                    <div class="loading" style="display: none;">
                        <img src="https://cdn.shopify.com/s/files/1/0278/4434/5931/t/19/assets/loading.svg?v=146762436508237652511627262475"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>