/* Top admin panel */
/*.apanel_cont{max-width:1160px; margin:10px auto 20px auto !important; padding:0px!important;} */
.admin_panel{
	height:29px; margin:10px auto 10px auto !important;  padding:0px 10px 0px 10px !important;
	background-image:linear-gradient(#8b9196,#2a3033);
	box-shadow:2px 2px 5px rgba(0,0,0,0.3); border-bottom:3px solid #fa6a00;
}
.admin_panel .apbut{display:block; float:left; height:29px; line-height:29px; padding:0px 8px 0px 29px; margin:0px!important; background-position:8px 6px!important; background-repeat:no-repeat!important;
	font-size:14px!important; color:#fff; text-decoration:none; font-family:Calibri; border-right:1px solid #a2a2a2; text-shadow:1px 1px 1px #000;
}
.flrig{float:right!important;}


.admin_panel .bactive{color:#ff0000!important;}
.admin_panel .apr{float:right!important; border-left:1px solid #a2a2a2!important; border-right:0px!important;}
.admin_panel .apr:hover{border-left:1px solid #ffffff!important;}
.admin_panel .apbut:hover{background-color:#fa6a00!important; border-right:1px solid #ffffff;}
.admin_panel .nobut{padding-left:8px!important;}
.admin_panel .comsets{background:url(images/lightbulb.png);} .admin_panel .comsets:hover{background:url(images/lightbulb_.png);}
.admin_panel .ainfo{background:url(images/home.png);} .admin_panel .ainfo:hover{background:url(images/home_.png);}
.admin_panel .tdcatalog{background:url(images/catalog.png);}
.admin_panel .langs{background:url(images/world.png);} .admin_panel .langs:hover{background:url(images/world_.png);}
.admin_panel .exit{background:url(images/exit.png);} .admin_panel .exit:hover{background:url(images/exit_.png);}
.admin_panel .dbserv{background:url(images/dbserv.png);} .admin_panel .dbserv:hover{background:url(images/dbserv_.png);}
.admin_panel .crates{background:url(images/crates.png);} .admin_panel .crates:hover{background:url(images/crates_.png);}
.admin_panel .meta{background:url(images/meta.png);} .admin_panel .meta:hover{background:url(images/meta_.png);}
.admin_panel .dbedit{background:url(images/dbedit.png);} .admin_panel .dbedit:hover{background:url(images/dbedit_.png);}
.admin_panel .setts{background:url(images/setts.png);} .admin_panel .setts:hover{background:url(images/setts_.png);}
.admin_panel .import{background:url(images/import.png);} .admin_panel .import:hover{background:url(images/import_.png);}
.admin_panel .webserv{background:url(images/webser.png);} .admin_panel .webserv:hover{background:url(images/webser_.png);}
.admin_panel .recache{background:url(images/recache.png);} .admin_panel .recache:hover{background:url(images/recache_.png);}
.submdiv{float:right!important;}


/* SEO-Meta */
.sublay{font-family:Verdana; color:#2c3f59; padding:15px 20px 16px 20px; margin:0px 0px 20px 0px; box-shadow:2px 2px 5px rgba(0,0,0,0.2); border-radius:3px; border:3px solid #fa6a00; background:#f5f3f2;}
.sublay hr{background:#afc7d6; border-bottom:1px solid #80a3b8;}
.sublaytab td{padding:2px 10px 2px 0px; font-size:12px!important; vertical-align:top; }
.sublaytab tr td:first-child{text-align:right; padding-top:6px;}
.subinput{outline: none;background:#ffffff!important; color:#000000; padding:3px 12px 3px 12px; width:100%; padding-right: 0px; border:1px solid #fa6a00!important; border-radius:4px;}
.subinput:active{border: none; box-shadow: none;}
.sbinp{width:500px; height:100px;}
.smbut{font-size:12px; padding:5px 8px 5px 8px;}
.gButDiv{padding: 10px 15px 10px 15px;	float: left;	background-image: linear-gradient(0deg, #cccccc, #ededed);	font-weight: bold;	color: #585858;	border-bottom-style: solid; border-bottom-width:3px;	-moz-border-radius: 4px;	-webkit-border-radius: 4px;	border-radius: 4px;	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);}
.gButDiv:hover{background-image: linear-gradient(0deg, #e0e0e0, #efefef);	cursor: pointer;	box-shadow: 2px 2px 3px rgba(0,0,0,0.1);}
.smgrey{background:#a3a3a3!important; border:1px solid #848484!important;}
.smgrey:hover{border:1px solid #a4a4a4; background:#b2b2b2!important;}

/* Tips */
.CmATip:hover{text-decoration:overline; cursor:pointer;}
.CmATipBox{display:none; position:absolute; border:1px solid #b3b392; background-color:#ffffe1; padding:10px; color:#292929; font-family:Verdana; font-size:11px; line-height:13px; z-index:99999; border-radius:4px; box-shadow:2px 2px 5px rgba(0,0,0,0.2);}
.CmATipBox i{display:inline-block; width:90px; text-align:right; font-style:normal; color:#ff0000;}

/* Statistic */
.adminstatbut{display:none; background-image:linear-gradient(#e5e5e5,#b9b9b9); float:right; clear:both; padding:4px 6px 4px 6px; margin-top:14px; color:#363636; border-radius:3px; box-shadow:1px 1px 1px #848484;}
.adminstatbut:hover{background-image:linear-gradient(#b9b9b9,#e5e5e5); color:#a70000; cursor:pointer;}
.comstatistic{font-size:12px; color:#3D3D3D; border-collapse:collapse; margin-top:26px;}
.comstatistic .shead td{background:#C4C4C4; color:#000000;}
.comstatistic td{padding:4px 8px 4px 8px; border:1px solid #A3A3A3;}
.comstatistic .stl1{color:#D96F07;}
.comstatistic .stl2{color:#D90000;}
.comstatistic a{color:#2388be;}
.comstatistic a:hover{text-decoration:underline!important; color:#46aee5;}


.PropsFilterEditBox{position:relative; min-width:300px; font-size:11px; font-family:Arial; padding:5px 10px 6px 10px; margin:0px 20px 0px 20px;}
.PropsFilterEditBox:hover{background-color:#f0f7e3;}
.PropsFilterEditBox:first-child{margin-top:15px;}
.PropsFilterEditBox ul{padding:0px; margin:4px 0px 0px 20px;}
.PropsFilterEditBox li{font-size:10px;}
.PropsFilterEditBox span{color:#989898;}
#TDMAdminButn_PropsFilter{position:absolute; right:-5px; top:-4px; border:1px solid #5ac20e!important; background-image:linear-gradient(#c7e5b6, #5ac20e)!important; border-radius:2px; box-shadow:1px 1px 1px #848484;}
#TDMAdminButn_PropsFilter a{display:block!important; background:url(images/edit.png); width:16px!important; height:16px!important; padding:3px 2px 2px 5px!important; background-repeat:no-repeat!important; background-position:center center; transition:all 0.3s ease;}
#TDMAdminButn_PropsFilter a:hover{background-color:#ffe13a; }
.TDMAdminButn_ItemSet{position:absolute; right:0px; bottom:6px; display:none; border:1px solid #5ac20e!important; background-image:linear-gradient(#c7e5b6, #5ac20e)!important; margin:2px!important; border-radius:2px; box-shadow:1px 1px 1px #848484;}
.TDMAdminButn_ItemSet a{display:block!important; float:right!important; box-sizing:content-box!important; width:16px!important; height:16px!important; padding:3px 5px 3px 5px!important; background-repeat:no-repeat!important; border-right:1px solid #ebebeb; background-position:center center; transition:all 0.3s ease;}
.TDMAdminButn_ItemSet a:hover{background-color:#ffe13a; }
.iabtext{background-image:url(images/edit.png);}
.iabprice{background-image:url(images/cent1.png); border-right:0px!important;}
.iabcross{background-image:url(images/cross.png);}
.iabfoto{background-image:url(images/fotopic.png);}
.iabtypmask{background-image:url(images/hidepic.png);}
.iabtyplink{background-image:url(images/typlink.png);}
.TDMAdminButn_Add{border:1px solid #bebebe!important; background-image:linear-gradient(#ededed, #bebebe)!important; border-radius:2px; box-shadow:1px 1px 1px #848484;}
.TDMAdminButn_Add a{display:block!important; background:url(images/plus.gif); width:16px!important; height:16px!important; padding:3px 5px 3px 5px!important; background-repeat:no-repeat!important; background-position:center center; transition:all 0.3s ease;}
.TDMAdminButn_Add a:hover{background-color:#ffe13a; }
.AbsposTopRig{position:absolute; right:0px; top:6px;}
.TDMAdminButn_DeleteProp{color:#ff0000!important; font-weight:bold; font-size:11px; position:absolute; top:-2px; right:5px; display:none;}
.TDMAdminButn_DeleteProp:hover{cursor:pointer; color:#ff8400;}

.TDMAdminButn_BotSet{border:1px solid #5ac20e!important; float:right!important; background-image:linear-gradient(#c7e5b6, #5ac20e)!important; margin:4px 0px 4px 0px!important; border-radius:2px; box-shadow:1px 1px 1px #848484;}
.TDMAdminButn_BotSet a{display:block!important; float:right!important; box-sizing:content-box!important; width:16px!important; height:16px!important; padding:3px 5px 3px 5px!important; background-repeat:no-repeat!important; border-right:1px solid #ebebeb; background-position:center center; transition:all 0.3s ease;}
.TDMAdminButn_BotSet a:hover{background-color:#ffe13a; }



/*.overlay{position:absolute; display:none; z-index:99999; opacity:0.4; background:#000 url(images/loadbig.gif) center center no-repeat; left:0px; top:0px; width:100%; height:100%;}*/
.tclear{clear:both;}


/* Public Side - Admin functions */
.PreBox{border:1px solid #d6bb86; margin:12px 0px 16px 0px; padding:10px; background:#f7f2e8; font-family:Lucida Console; font-size:12px; border-radius:4px; color:#010101 !important;}
.PreBox span{color:#008000;}
.PreBox b{color:#aa0000;}
.PreBox i{color:#a5a5a5;}
.PreBox svg{width:16px; height:16px;}
.PreTitle{font-weight:bold; color:#0000ad; font-size:14px;} .PreTitle:hover{cursor:pointer; color:#ff0000; text-decoration:underline;}


 /* Template Buttons */
.WsReload{color:#5691aa;} .WsReload:hover{cursor:pointer; text-decoration:underline; color:#ff0000;}


/* New APanel */
.BoxAPanel_x{position:fixed; left:0px; top:35%; background:linear-gradient(0deg, #232628, #5d5e5e); box-shadow:4px 4px 7px rgba(0, 0, 0, 0.41); z-index:999; padding:0 0 10px; border-right:3px solid #fa6a00;}
.ALogo_x{padding-left:2px;}
.VerticalALogo_x{padding:5px 5px 0;}
.APBut_x{display:block; padding:4px 10px; color:white!important; cursor:pointer; border-bottom:1px solid #232323; box-shadow:0px 1px 0px 0px #929292; text-decoration:none; font-family:Verdana; font-size:13px;}
.APBut_x:hover{background:#fa6a00;}
.APBut_x:hover .APsizeSVG_x{fill:white;}


.asubmenu{position:absolute; display:none; padding:1px; z-index:9999; background-color:rgba(0,0,0,0.7); box-shadow:inset 0 0 0 1px #ffffff, 2px 2px 7px rgba(0,0,0,0.4); margin-top:-22px; left:175px;}
.asubmenu a{display:block; font-size:13px; font-family:Verdana; padding:3px 16px 5px 16px; text-decoration:none; color:#ffffff; text-shadow:1px 1px 1px #000000;}
.asubmenu a:hover{background:#fa6a00;}
.Hidden{display:none;}
.showMore{display:none; background:#7c7d7d;}
.showMore a{display:block; padding:2px 15px 2px 36px; color:white!important; background:#7c7d7d; border-bottom:1px solid #3c3c3c; font-size:13px; cursor:pointer; text-shadow:1px 1px 1px #313131;}
.showMore a:hover{background:#ff7f21;}
.APsizeSVG_x{width:15px; position:relative; top:3px; fill:#fa6a00;}
.but50_x{width:50%; float:left; background:#7c7d7d; text-align:center;}
.boxBut50_x{background:#282d33; display:table; width:100%;}
.APLogoTop_x{height:25px; background:linear-gradient(0deg, #141719, #a7aaad);}
.APLogoTop_x img{position:absolute; top:-19px; left:7px;}
.APLogoTop_x span{margin-left:57px; font-size:17px; font-weight:bold; color:#fa6a00; text-shadow:1px 1px 1px black; position:relative; top:1px;}

.PABLogo_x{display:block; padding-top:12px;}
.BoxMenuAP_x{display:none;}
.BoxAPanel_x:hover .BoxMenuAP_x{display:block;}
.BoxAPanel_x:hover .PABLogo_x{display:none;}





.TextA{margin:0px; border:1px solid #bebebe; padding:6px; width:400px; line-height:16px; font-size:14px; font-family:Verdana; color:#000000; outline:none; text-align:left;
-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; box-shadow:inset 2px 2px 5px rgba(0,0,0,0.2);}
.TextA:focus {border-color:#fa6a00;}
.SetsTab{font-size:14px;}
.SetsTab td{padding:3px; position:relative;}
.SetsTab td:first-child{text-align:right;}
.SetsTab .vtop{padding-top:8px; vertical-align:top;}
.SetsTab a{color:#cc5700; text-decoration:dotted!important;}
.SetsTab a:hover{color:#ff6d00; text-decoration:underline!important;}
.nameSet{text-align:center; position:relative; top:15px; display:table; margin:0 auto; background:#f6f6f6; box-shadow:0px 0px 0px 8px #f6f6f6; color:#fa6a00; font-weight:bold;}
.orngHR{border-bottom:1px solid #fa6a00!important;}

.InpRes{position:absolute; display:none; width:36px; margin:1px 0px 0px 1px; color:#d50000; line-height:26px; border:1px solid #d6d9d4; text-align:center; font-size:11px; font-family:Verdana; font-weight:bold; text-shadow:1px 1px 1px #fff; background-image:linear-gradient(-0deg, #efc9c9, #f8efef); -moz-border-radius:28px; -webkit-border-radius:28px; border-radius:28px;}
.InpRes:hover{cursor:default; background-image:linear-gradient(-0deg, #efc9c9, #f8efef); color:#959694;}
.InpResX{background-image:linear-gradient(-0deg, #daefc9, #f6f9f0)!important; color:#7cc42e!important;}
.InpResX:hover{cursor:pointer!important; background-image:linear-gradient(-0deg, #c6e0b1, #e9f1d8)!important; color:#fa6a00!important;}

.direction_x{float:left; background:#f1f1f1; cursor:pointer; border:1px solid #bab9b9; fill:#bdbdbd;}
.direction_x:hover{border:1px solid #fa6a00;}
.direcActive_x{fill:#42ad47; background:linear-gradient(to bottom,#fff,#d0d0d0);}

@media screen and (max-width: 1201px){
	.BoxAPanel_x{display:none;}
}

@media screen and (max-width: 512px){
	.comstatistic{font-size:9px !important;}
	.admin_panel{height:auto;}
}
